# Fixora Firebase Configuration Template
# Project Name: Fixora (majeedumer50@gmail.com)

EXPO_PUBLIC_FIREBASE_API_KEY=your_api_key_here
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=fixora.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=fixora
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=fixora.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
EXPO_PUBLIC_FIREBASE_APP_ID=your_app_id
